{% extends "admin/base_site.html" %}
{% load i18n admin_list admin_urls %}
{% load static %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'test_app/tree_style.css' %}" />
{% endblock %}

{% block breadcrumbs %}


<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; {% translate 'Tree' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <ul class="object-tools">
      <li>
        <a href="{% url opts|admin_urlname:'change' object.id|admin_urlquote %}">Move to object</a>
      </li>
    </ul>
  <div id="change-tree" class="change-tree">
    <div class="tf-tree example">
      <ul>
        <li>
          <span class="tf-nc">
            <a href="{% url opts|admin_urlname:'preview' object.id|admin_urlquote %}">{{object}}</a>
          </span>
          <ul>
            {% for children_object in children_categories %}
              <li>
                <span class="tf-nc">
                  <a href="{% url opts|admin_urlname:'preview' children_object.id|admin_urlquote %}">{{children_object}}</a>
                </span>
              </li>
            {% endfor %}
<!--            Тут тестовое дерево-->
<!--            <li>-->
<!--              <span class="tf-nc">2</span>-->
<!--              <ul>-->
<!--                <li><span class="tf-nc">4</span></li>-->
<!--                <li>-->
<!--                  <span class="tf-nc">5</span>-->
<!--                  <ul>-->
<!--                    <li><span class="tf-nc">9</span></li>-->
<!--                    <li><span class="tf-nc">10</span></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li><span class="tf-nc">6</span></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="tf-nc">3</span>-->
<!--              <ul>-->
<!--                <li><span class="tf-nc">7</span></li>-->
<!--                <li><span class="tf-nc">8</span></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
  </div>
</div>
{% endblock %}
