{% extends "admin/base_site.html" %}
{% load i18n admin_list admin_urls static verbose_names%}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'django_admin_tree/tree_style.css' %}" />
{% endblock %}

{% block breadcrumbs %}


<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; {% translate 'Tree' %}
</div>
{% endblock %}

{% block content %}
{% block extrajs %}
    <script src="{% static 'js/script.js' %}" defer></script>
{% endblock %}
<div id="content-main">
    <ul class="object-tools">
      <li>
        <a href="{% url opts|admin_urlname:'change' object.id|admin_urlquote %}">Move to object</a>
      </li>
    </ul>
  <div id="change-tree" class="change-tree">
    <div class="tf-tree example">
        <ul>
            <li>
                {% if object.parent_id %}
                    <span class="tf-nc">
                        <a href="{% url opts|admin_urlname:'tree' object.parent_id|admin_urlquote %}">Go to parent tree</a>
                    </span>
                {% else %}
                    <span class="tf-nc">
                        Нет родителя
                    </span>
                {% endif %}
                <ul>
                    {% include 'admin/django_admin_tree/recursive_categories.html' with obj=object descendants=descendants|filter_objects_by_parent:object.pk all_descendants=descendants%}
                </ul>
            </li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}

