{% load i18n admin_list admin_urls %}
{% load static %}
{% load verbose_names %}


<li>
    <span class="tf-nc">
        <a href="{% url opts|admin_urlname:'tree' obj.id|admin_urlquote %}">{{obj}}</a>
    </span>
    {% if descendants %}
        <ul>
            {% for descendant in descendants %}
                {% include 'admin/django_admin_tree/recursive_categories.html' with obj=descendant descendants=all_descendants|filter_objects_by_parent:descendant.pk all_descendants=all_descendants add_url=add_url%}
            {% endfor %}
        </ul>
    {% endif %}
</li>

